<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-selling-product-heading" jhiTranslate="bugtrackerjhipsterApp.sellingProduct.home.createOrEditLabel">Create or edit a Selling Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugtrackerjhipsterApp.sellingProduct.v2ProductName" for="field_v2ProductName">V 2 Product Name</label>
                    <input type="text" class="form-control" name="v2ProductName" id="field_v2ProductName"
                           formControlName="v2ProductName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugtrackerjhipsterApp.sellingProduct.v2ProductCategory" for="field_v2ProductCategory">V 2 Product Category</label>
                    <input type="text" class="form-control" name="v2ProductCategory" id="field_v2ProductCategory"
                           formControlName="v2ProductCategory"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugtrackerjhipsterApp.sellingProduct.unitsSold" for="field_unitsSold">Units Sold</label>
                    <input type="number" class="form-control" name="unitsSold" id="field_unitsSold"
                           formControlName="unitsSold"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugtrackerjhipsterApp.sellingProduct.revenue" for="field_revenue">Revenue</label>
                    <input type="number" class="form-control" name="revenue" id="field_revenue"
                           formControlName="revenue"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
