<div>
    <h2 id="page-heading">
        <span jhiTranslate="bugtrackerjhipsterApp.sellingProduct.home.title">Selling Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-selling-product" [routerLink]="['/selling-product/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bugtrackerjhipsterApp.sellingProduct.home.createLabel">
            Create a new Selling Product
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sellingProducts?.length === 0">
        <span jhiTranslate="bugtrackerjhipsterApp.sellingProduct.home.notFound">No sellingProducts found</span>
    </div>
    <div class="table-responsive" *ngIf="sellingProducts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="bugtrackerjhipsterApp.sellingProduct.v2ProductName">V 2 Product Name</span></th>
            <th scope="col" ><span jhiTranslate="bugtrackerjhipsterApp.sellingProduct.v2ProductCategory">V 2 Product Category</span></th>
            <th scope="col" ><span jhiTranslate="bugtrackerjhipsterApp.sellingProduct.unitsSold">Units Sold</span></th>
            <th scope="col" ><span jhiTranslate="bugtrackerjhipsterApp.sellingProduct.revenue">Revenue</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sellingProduct of sellingProducts ;trackBy: trackId">
                <td><a [routerLink]="['/selling-product', sellingProduct.id, 'view' ]">{{sellingProduct.id}}</a></td>
                <td>{{sellingProduct.v2ProductName}}</td>
                <td>{{sellingProduct.v2ProductCategory}}</td>
                <td>{{sellingProduct.unitsSold}}</td>
                <td>{{sellingProduct.revenue}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/selling-product', sellingProduct.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/selling-product', sellingProduct.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(sellingProduct)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
